:root {
    --branco: #FFFFFF;
    --fundo: rgb(197, 228, 231);
    --card2: rgb(0, 71, 74);
    --input: rgb(243, 248, 251);
    --cor-fonte: rgb(118, 137, 139);
    --cor-hover-btn: #26C2AD;
    --cor-borda: rgb(107, 185, 175);
    --cor-span: rgb(225, 53, 53);

}

* {
    margin: 0;
    padding: 0;
    font-family: "Space Mono", monospace;
}

body {
    background: var(--fundo);
}

.logo {
    display: flex;
    margin: 1em 0 1em 0;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background: var(--branco);
    box-sizing: content-box;

}


/*box1*/

.box1 {
    background: var(--branco);
    margin: 3em 4em 0 4em;
}

.titulo-valor {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 1em;
    color: var(--card2);
}

.input1 {
    display: flex;
    flex-direction: column;

}

.input2 {
    display: flex;
    flex-direction: column;

}

.input-txtD {
    background: url("./images/icon-dollar.svg") var(--input);
    ;
    background-repeat: no-repeat;
    background-position: calc(20px);
    font-size: 25px;
    font-weight: 900;
    color: var(--card2);
    box-sizing: border-box;
    text-align: right;
    padding-right: 20px;

}

.input-txtP {
    background: url("./images/icon-person.svg") var(--input);
    background-repeat: no-repeat;
    background-position: calc(20px);
    font-size: 25px;
    font-weight: 900;
    color: var(--card2);
    box-sizing: border-box;
    text-align: right;
    padding-right: 20px;

}

.text-tipo {
    font-weight: 600;
    font-size: 16px;
    color: var(--card2);
    margin-top: 2em;
}


.porcentagens {
    display: flex;

}


.column {
    display: flex;
    flex-direction: column;
}

.columnA {
    margin-left: 20px;
}

.btn-porcentagem {
    background: var(--card2);
    color: var(--branco);
    font-size: 20px;
    width: 116px;
    height: 50px;
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    font-weight: 900;
    cursor: pointer;
    box-sizing: border-box;

}

.btn-porcentagem:hover {
    background-color: var(--cor-hover-btn);
    font-size: 20px;
    font-weight: 900;
    color: var(--card2);


}

.input-porcentagem {
    background: var(--input);
    font-size: 20px;
    width: 116px;
    height: 50px;
    margin-top: 1em;
    border-radius: 5px;
    border: none;
    font-size: 25px;
    font-weight: 900;
    color: var(--card2);
    text-align: right;
    box-sizing: border-box;
    padding-right: 30px;
}




.label-quantidade {
    font-weight: 600;
    font-size: 16px;
    margin: 2em 0 1em 0;
    color: var(--card2);
}

.input-txt {
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 40px;
}

.text-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text-negative {
    font-weight: 600;
    font-size: 14px;
    color: var(--cor-span);
    margin: 2em 0 1em 0;
    display: none;


}

input:focus {
    border: 2px solid var(--cor-borda) !important;
    outline: none !important;

}

/*box2*/

.box2 {
    background: var(--card2);
    margin: 1em 4em 0 4em;
    border-radius: 10px;
}

.box-interna {
    margin: 2em 2em 2em 1em;
}

.ordem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.btn-reset {
    display: flex;
    justify-content: center;

}

.reset {
    background-color: rgb(13, 104, 109);
    width: 100%;
    height: 50px;
    border-radius: 8px;
    font-size: 19px;
    font-weight: 900;
    color: var(--card2);
    text-align: center;
    border: none;
    cursor: pointer;


}

.reset:hover {
    background-color: var(--cor-hover-btn);
    border: none;


}

.valor-da-gorjeta,
.total {
    color: var(--branco);
    font-size: 14px;


}

.pessoas {
    color: var(--fundo);
    font-size: 12px;
}

.total-number,
.valor-gorjeta-number {
    color: var(--cor-hover-btn);
    font-size: 35px;

}



@media (min-width: 900px) {
    .logo {
        display: flex;
        margin: 3em 0 2em 0;
        justify-content: center;
    }

    .container {
        margin: 0 30em;
        height: 450px;
        border-radius: 20px;
        display: flex;
        flex-direction: row;
    }

    .btn-porcentagem {
        width: 120px;
        height: 50px;
        justify-content: space-around;
        margin-top: 0.5em;
    }

    .columnA {
        margin-left: 0;
    }

    .espace {
        margin-right: 1em;
    }

    .input-porcentagem {
        width: 120px;
        height: 50px;
        margin-top: 0.5em;
    }

    .label-quantidade {
        margin: 1em 0;
    }

    .titulo-valor {
        margin-bottom: 0.5em;
    }

    .box2 {
        background: var(--card2);
        width: 500px;
        margin: 2em 3em 2em 0;
        border-radius: 10px;
    }

    .ordem {
        display: flex;
        justify-content: space-between;
        margin: 3em 2em 2em 2em;
    }

    .reset {
        margin-top: 4em;
    }

    .porcentagens {
        display: flex;
        flex-direction: column;
    }

    .column {
        display: flex;
        flex-direction: row;
    }

    .text-negative {
        font-weight: 600;
        font-size: 14px;
        color: var(--cor-span);
        margin: 0;
    }
}
